<main>
  <% @events.each do |e| %>
    <div class="event_div">
      <h3><%= e.name %>, <%= e.location %></h3>
      <article>
        <div><%= e.description %></div>
        <ul class="show_ul">
          <li class="show_li">Kategória: <%= e.category %></li>
          <li class="show_li">Résztvevők: <%= e.participants %></li>
          <li class="show_li">Szervező: <%= e.user.username %></li>
          <li class="show_li_last"><%= button_to 'Feliratkozás', e, :method => :get %></li>
        </ul>
      </article>
      <footer class="show_footer"><%= e.date %></footer>
      <% if current_user && current_user.admin %>
        <td><%= link_to 'Szerkesztés', edit_event_path(e) %></td>
        <td><%= button_to 'Törlés', e, :method => :delete, data: { confirm: 'Biztos benne?' } %></td>
      <% end %>
    </div>
  <% end %>
</main>

<br>
<%= link_to 'Vissza', :back %>