<p>
  <strong>Név:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Helyszín:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Leírás:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Dátum:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Kategória:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Résztvevők:</strong>
  <% @event.participants += 1 %>
  <% @event.save %>
  <%= @event.participants %>
</p>

<p>
  <strong>Létrehozó:</strong>
  <%= @event.user.username %>
</p>

<%= link_to 'Vissza', events_path %>
