<% if current_user %>
  <h1 align="center">Üdvözöljük <%= current_user.username %>!
    <% if current_user.admin %>
      (admin)
    <% end %>
  </h1>
  <p align="center"><strong>Legnépszerűbb események:</strong></p>
  <% popular_events = Event.order(participants: :desc).first(8) %>
  <% popular_events.each do |pe| %>
    <div class="event_div">
      <h3><%= pe.name %>, <%= pe.location %></h3>
      <article>
        <div><%= pe.description %></div>
        <ul class="show_ul">
          <li class="show_li">Kategória: <%= pe.category %></li>
          <li class="show_li">Résztvevők: <%= pe.participants %></li>
          <li class="show_li_last">Szervező: <%= pe.user.username %></li>
        </ul>
      </article>
    </div>
  <% end %>
<% else  %>
  <h1 align="center">Üdvözöljük kedves vendégünket!</h1>
  <% first_events = Event.first(2) %>
  <% first_events.each do |fe| %>
    <div class="event_div">
      <h3><%= fe.name %>, <%= fe.location %></h3>
      <article>
        <div><%= fe.description %></div>
        <ul class="show_ul">
          <li class="show_li_not_signed">Kategória: <%= fe.category %></li>
        </ul>
      </article>
      <footer class="show_footer"><%= fe.date %></footer>
    </div>
  <% end %>
  <p align="center"><strong>További eseményekhez jelentkezzen be vagy regisztráljon!</strong></p>
<% end %>

